.App {
  text-align: center;
  background-color: #61dafb;
}

/* .AppHeader {
  width: 100%;
    margin: 10px;
    position: fixed;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #BBBBF1;
} */

.Country, .Medals{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
}

.Medals{
  display: flex;
  flex-wrap:nowrap;
  justify-content: space-evenly;
}

.Country-Title{
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 15px;
}

.New-Country{
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100;
}


.loginLink, .logout {
  color: #000;
  position:absolute;
  bottom: 25px;
  left: 50px;
  font-size: x-large;
  font-weight: 500;
}

.logoutLink {
  color: #000;
}


.loginForm {
  border: 1px solid #999;
  background-color: #dedede;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  width: 300px;
  bottom: 65px;
  left: 8px;
}
